<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
</header>
<nav class="navbar fixed-top">
  <div class="container">
  </div>
</nav>
<section>
  <div class="title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ desc.title }}</h1>
          <p>{{ desc.text }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<article>
  <div class="boxes">
    <div class="container">
      <div class="row">
        <div *ngFor="let wire of displayedWires" class="col-12 col-md-6 col-lg-4">
          <div class="box-items">
            <span>{{ wire.date | date: 'dd MMMM yyyy' }}</span>
            <h2>{{ wire.title }}</h2>
            <p>{{ wire.text.slice(0, 200) + (wire.text.length > 200 ? '...' : '') }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center"><button [disabled]="endOfWires()" (click)="loadMoreWires()" class="btn btn-primary">{{ loadMoreButtonText() }}</button></div>
        </div>
      </div>
    </div>
  </div>
</article>
<aside>
</aside>
<footer>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
